.app-wrapper{
  display: grid;

  grid-template-rows: 90px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;;

  grid-template-areas: 
  "header header header"
  "navbar content content"
  ;

}

.app-wrapper{
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
}


