.app-wrapper{
  display: grid;

  grid-template-rows: 90px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;;

  grid-template-areas: 
  "header header header"
  "navbar content content"
  ;

}

.app-wrapper{
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
}

.header {
  grid-area: header;
  background-color: yellowgreen;
}

.header img{
width: 70px;
padding: 10px;
}

.nav {
  grid-area: navbar;
  background-color: yellowgreen;
}

nav ul{
  list-style-type: none;
  color: white;
  padding-left: 10px;
}

.content {
  grid-area: content;
  background-color: rgb(180, 179, 179);
}

.content-image{

   position: relative;
   overflow:hidden;
   width:100%;
   height:200px;
}

.content-image img {
  position: absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%,-50%);
      -ms-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%);
  width:100%;
  height:200px;
  -o-object-fit:cover;
     object-fit:cover;
}

.content__avatar-image{
  padding: 10px;
}

.content__avatar{
  display: flex;
  align-items: center;
}